.tabs
  .tabs_item{class: "#{'active' if current_page?(root_path)}"}
    = link_to 'Time Line', root_path
  .tabs_item{class: "#{'active' if current_page?(notification_path)}"}
    = link_to 'Notification', notification_path