// インポート ################################
@import 'variables';

// 変数 ################################
$avatar-size: 40px;
$header-padding-y: 16px;

// ヘッダー ################################

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding: $header-padding-y 16px;
  font-weight: bold;

  &_loginBtn {
    background-color: $base-bg-color;
    height: $avatar-size;
    border-radius: 8px;
    font-size: 12px;
    padding: 12px 16px;
    color: $primary-color;
  }


  &_pageTitle {
    color: white;
    line-height: $avatar-size;
    font-size: $font-lg;
  }

  &_pageSubtitle {
    margin-left: 5px;
    color: white;
    line-height: $avatar-size;
    font-size: 6px;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }
}

.emphasis{
  font-size: 1.2em;
  
}