<div class="container">
  <%= render 'tabs' %>
  <% @reports.each do |report| %>
        <%= render 'report', report: report %>
  <% end %>
    <%= link_to new_report_path do %>
    <div class="float_btn">
      <p>New<br>Report</p>
    </div>
  <% end %>
</div>